:root {
  /* fonts */
  --main-font: "Montserrat", sans-serif;
  --second-font: "Great Vibes", cursive;
  --third-font: "Poppins", sans-serif;
  --fourth-font: "Dancing Script", cursive;

  /* colors */
  --main-color: #161419;
  --dark-brown: #1d1610;
  --gold: #b29d8c;
  --beige: #d7cabf;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* Set core body defaults */
body {
  background-color: #ffffff;

  min-height: 100vh;
  width: 100vw;
  line-height: 1.5;
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Responsive */

.container-box {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-inline: auto;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
  background-color: hsl(207, 4%, 65%);
}
::-webkit-scrollbar-thumb {
  background-color: var(--gold);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b59e8abc;
}

/* Navigation */

.navbar {
  background-color: #161419;
}
.nav-link {
  color: #d1cac4;
  font-weight: 500;
  transition: all 200ms ease-in-out;
}
.nav-link:hover {
  color: rgb(156, 135, 96);
}
.navbar-brand {
  font-family: var(--second-font);
  font-size: 29px;
  color: var(--gold);
}
.navbar-brand:hover {
  color: #a79181;
}

/* Main Section */
.title {
  font-size: 50px;
  font-family: var(--second-font);
}
.header {
  font-family: var(--second-font);
  font-size: 50px;
  font-weight: 500;
  border: 2px dotted var(--gold);
  padding: 15px;
  text-align: center;
  margin-top: 40px;
}
.front-end {
  color: #585660;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.details-paragraph {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--third-font);
}

.main-content {
  margin-top: 80px;
  padding: 60px 20px;
}

.photo-content {
  margin-top: 80px;
}

.main-button {
  line-height: 3;
  border: none;
  box-shadow: 0 0 10px #000000b3;
  font-size: 18px;
  padding: 14px 20px;
  background-color: var(--main-color);
  border-radius: 22px;
  color: var(--beige);
  transition: all 500ms ease-in-out;
  font-weight: 400;
}

.main-button:hover {
  background-color: var(--beige);
  color: var(--main-color);
  border: 28px;
  font-weight: 500;
}

/* Second section */
.header {
  margin-top: 70px;
}

.icon-skill {
  font-size: 60px;
}
.icon-skill-text {
  font-size: 18px;
  font-weight: 500;
}

/* Third section */

.achievements {
  display: flex;
  justify-content: space-around;
  margin: 40px 20px;
}

.details {
  margin: 20px;
}

.title-achiev {
  text-decoration: underline;
  color: #7b6c5f;
  font-size: 28px;
}
.achiev-text {
  font-family: var(--third-font);
  font-size: 21px;
  letter-spacing: 3px;
}
.certificate-image {
  border: 3px solid rgb(207, 202, 202);
  width: fit-content;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

/* Contact-Page */
.contact-header {
  text-align: center;
  font-size: 110px;
  margin-top: 100px;
  font-family: var(--second-font);
  color: var(--gold);
}

.contact-details {
  text-align: center;
  border: 2px solid var(--gold);
  padding: 60px 40px;
  margin-top: 50px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.contact-text {
  font-size: 45px;
  font-family: var(--second-font);
  text-align: center;
  color: var(--gold);
}
.second-paragraph {
  margin-top: 10px;
  font-size: 20px;
}

.contact-links {
  text-align: center;
  margin-top: 50px;
}
.contact-links-h5 {
  font-size: 27px;
  color: var(--gold);
  font-weight: 700;
  font-family: var(--third-font);
}
.double-arrow {
  font-size: 20px;
}

/* Footer */
footer {
  border-top: 3px solid var(--gold);
  background-color: var(--main-color);
  padding: 35px 65px;
  margin-top: 40px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  text-align: center;
}

.social-links {
  font-size: 50px;
  margin: 8px;

  color: var(--gold);

  border-radius: 10px;
  transition: all 500ms ease-in-out;
}
.social-links:hover {
  color: var(--main-color);
  background-color: var(--beige);
}

.email {
  display: inline-block;
  position: relative;
  color: var(--beige);

  margin-top: 13px;
}
.email:hover {
  color: var(--gold);
}
.email:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--gold);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.email:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* media queries */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  .contact-header {
    font-size: 70px;
    margin-top: 50px;
  }
  footer {
    margin-top: 30px;
  }
  .contact-text {
    font-size: 35px;
  }
  .contact-links-h5 {
    font-size: 20px;
  }
}

@media (max-width: 475px) {
  .container {
    width: 100%;
  }
   {
    font-size: 70px;
    margin-top: 50px;
  }

  .contact-text {
    font-size: 35px;
  }
  .contact-links-h5 {
    font-size: 20px;
  }
  footer {
    margin-top: 30px;
  }
}
