:root {
  /* fonts */
  --main-font: "Montserrat", sans-serif;
  --second-font: "Great Vibes", cursive;
  --third-font: "Poppins", sans-serif;
  --fourth-font: "Dancing Script", cursive;

  /* colors */
  --main-color: #161419;
  --dark-brown: #1d1610;
  --gold: #b29d8c;
  --beige: #d7cabf;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* Set core body defaults */
body {
  background-color: #ffffff;

  min-height: 100vh;
  width: 100vw;
  line-height: 1.5;
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Responsive */

.container-box {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-inline: auto;
}

/* Navigation */

.navbar {
  background-color: #161419;
}
.nav-link {
  color: #d1cac4;
  font-weight: 500;
  transition: all 200ms ease-in-out;
}
.nav-link:hover {
  color: rgb(156, 135, 96);
}
.navbar-brand {
  font-family: var(--second-font);
  font-size: 29px;
  color: var(--gold);
}

/* Main-section - Home Page */

h3 {
  font-size: 40px;
  margin-bottom: 14px;
}

h5 {
  opacity: 0.4;
  font-size: 17px;
  font-family: var(--third-font);
}

h1,
.developer {
  font-family: var(--second-font);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 13px;
  color: var(--gold);
}

.header {
  text-align: center;
  border: 3px solid rgb(74, 69, 69);
  padding: 45px 65px;
  margin-top: 50px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.header-buttons {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.main-button {
  margin-right: 55px;
  border: none;
  box-shadow: 0 0 10px #000000b3;
  font-size: 20px;
  padding: 14px 20px;

  background-color: var(--main-color);
  border-radius: 22px;
  color: var(--beige);
  transition: all 500ms ease-in-out;
  font-weight: 400;
}

.main-button:hover {
  background-color: var(--beige);
  color: var(--main-color);
  border: 28px;
  font-weight: 500;
}

.main-button[data-type="inverted"] {
  background-color: var(--beige);
  color: var(--main-color);
}

.main-button[data-type="inverted"]:hover {
  background-color: var(--main-color);
  color: var(--beige);
}
.h2-subheader {
  margin-top: 60px;
  text-align: center;
  font-weight: 600;
  font-family: var(--fourth-font);
  font-size: 50px;
  text-decoration: dashed;
}

/* Second-Section - Home Page */

img {
  border-radius: 25px;
  overflow: hidden;
  padding: 12px;
}
.background-image {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid var(--beige);
}
.project-image {
  transition: 1s;
}
.project-image:hover {
  transform: scale(1.1);
}

.project-link {
  background-color: var(--main-color);
  padding: 15px 15px;
  border-radius: 20px;
  font-size: 28px;
  margin: 6px;
  margin-top: 6px;
  color: var(--gold);
  transition: all 300ms ease-in-out;
}
.project-link:hover {
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 3px rgb(201, 178, 155)) invert(2%);
}

.project-description {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 10px;

  border-radius: 10px;
  font-weight: 500;
  font-family: var(--third-font);
  text-align: center;
  text-wrap: wrap;
}

/* Footer */
footer {
  border-top: 3px solid var(--gold);
  background-color: var(--main-color);
  padding: 35px 65px;
  margin-top: 120px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  text-align: center;
}

.social-links {
  font-size: 50px;
  margin: 8px;

  color: var(--gold);

  border-radius: 10px;
  transition: all 500ms ease-in-out;
}
.social-links:hover {
  color: var(--main-color);
  background-color: var(--beige);
}

.email {
  display: inline-block;
  position: relative;
  color: var(--beige);

  margin-top: 13px;
}
.email:hover {
  color: var(--gold);
}
.email:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--gold);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.email:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* media queries */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .background-image {
    border: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .background-image {
    border: none;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .background-image {
    border: none;
  }
}

@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  .background-image {
    border: none;
  }
}
