:root {
  /* fonts */
  --main-font: "Montserrat", sans-serif;
  --second-font: "Great Vibes", cursive;
  --third-font: "Poppins", sans-serif;
  --fourth-font: "Dancing Script", cursive;

  /* colors */
  --main-color: #161419;
  --dark-brown: #1d1610;
  --gold: #b29d8c;
  --beige: #d7cabf;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  width: 100vw;
  line-height: 1.5;
  font-family: var(--main-font);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Responsive */

.container-box {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-inline: auto;
}

/* Navigation */

.navbar {
  background-color: #161419;
}
.nav-link {
  color: #d1cac4;
  font-weight: 500;
  transition: all 200ms ease-in-out;
}
.nav-link:hover {
  color: rgb(156, 135, 96);
}
.navbar-brand {
  font-family: var(--second-font);
  font-size: 29px;
  color: var(--gold);
}
.navbar-brand:hover {
  color: #a79181;
}

/* Main Section*/

.header {
  font-family: var(--second-font);
  font-size: 50px;
  font-weight: 500;
  border: 2px dotted var(--gold);
  padding: 15px;
  text-align: center;
  margin-top: 40px;
}

.projects-container {
  overflow: initial;
}

.projects-content {
  display: grid;
  justify-content: center;
  margin-top: 40px;
}

.project-image {
  width: 870px;
  border-radius: 12px;
  margin-bottom: 20px;
  display: block;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.project-title {
  font-size: 20px;
  color: var(--gold);
  margin-bottom: 20px;
  margin: 5px 0 20px;
  font-family: var(--fourth-font);
}
.project-subtitle {
  font-size: 15px;
  color: #585660;
  font-family: var(--third-font);
}

.project-button {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 500;
}

.project-button .bx-right-arrow-alt,
.bxl-github {
  font-size: 30px;
  transition: transform 0.3s;
  color: var(--gold);
}

.project-button:hover .bx-right-arrow-alt {
  transform: translateX(10px);
}
.bxl-github:hover {
  transform: scale(1.3);
}



/* Footer */

footer {
  border-top: 3px solid var(--gold);
  background-color: var(--main-color);
  padding: 35px 65px;
  margin-top: 120px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  text-align: center;
}

.social-links {
  font-size: 50px;
  margin: 8px;

  color: var(--gold);

  border-radius: 10px;
  transition: all 500ms ease-in-out;
}
.social-links:hover {
  color: var(--main-color);
  background-color: var(--beige);
}

.email {
  display: inline-block;
  position: relative;
  color: var(--beige);

  margin-top: 13px;
}
.email:hover {
  color: var(--gold);
}
.email:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--gold);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.email:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* media queries */

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--gold);
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--gold);
  }
  .project-image {
    width: 900px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--gold);
  }
  .project-image {
    width: 650px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--gold);
  }
  .project-image {
    width: 470px;
  }
  .header {
    font-size: 30px;
    padding: 7px;
  }
}

@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--gold);
  }
}
