:root {
  --main-font: "Montserrat", sans-serif;
  --second-font: "Great Vibes", cursive;
  --third-font:"Poppins", sans-serif;
  --main-bg-transparent: rgba(208, 200, 200, 0.336);
  --dark-brown-text-color: #1d1610;
  --gold-color:#b29d8c;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* Set core body defaults */
body {
  background-image: url("/src/images/home-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  line-height: 1.5;
  margin: var(--header-height) 0 0 0;
  font-family: var(--main-font);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Responsive */

.container-box {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-inline: auto;
}

/* Navigation */

.navbar {
  background-color: #b9a594e8;
}
.nav-link {
  color: #1d1610;
  font-weight: 500;
  transition: all 200ms ease-in-out;
}
.nav-link:hover {
  color: rgb(136, 111, 66);
}
.navbar-brand {
  font-family: var(--second-font);
  font-size: 29px;
}

/* Main-section - Home Page */

h3 {
  font-size: 40px;
  margin-bottom: 14px;
}

h1,
.developer {
  font-family: var(--second-font);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 13px;
}

.header {
  text-align: center;
  background-color: var(--main-bg-transparent);
  border: 2px solid rgb(74, 69, 69);
  padding: 45px 65px;
  margin-top: 70px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.header-buttons {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.main-button {
  margin-right: 55px;
  border: none;
  box-shadow: 0 0 10px #000000b3;
  font-size: 20px;
  padding: 14px 20px;

  background-color: #a08780;
  border-radius: 22px;
  color: white;
  transition: all 500ms ease-in-out;
  font-weight: 400;
}

.main-button:hover {
  background-color: #d1c4c1;
  color: black;
  border: 28px;
  font-weight: 500;
}

.main-button[data-type="inverted"] {
  background-color: #d1c4c1;
  color: black;
}

.main-button[data-type="inverted"]:hover {
  background-color: #a08780;
  color: white;
}
.h2-subheader {
  margin-top: 60px;
  text-align: center;
  font-weight: 600;
  color: var(--dark-brown-text-color);
  background-color: var(--main-bg-transparent);
  padding: 10px 10px;
}

/* Second-Section - Home Page */

img {
  border-radius: 25px;
  overflow: hidden;
  padding: 12px;
}
.background-image {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  background-color: rgba(207, 212, 212, 0.372);
  border-radius: 8px;
}
.project-image {
  transition: 1s;
  
}
.project-image:hover {
  transform: scale(1.1);
 filter: drop-shadow(7px 7px 10px rgb(231, 210, 210)) invert(5%);
}

.project-link {
  background-color: #40322fe7;
  padding: 15px 15px;
  border-radius: 20px;
  font-size: 28px;
  margin: 6px;
  margin-top: 6px;
  color: var(--gold-color);
  transition: all 300ms ease-in-out;
}
.project-link:hover {
  transform: scale(1.1);
}

.project-description {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 10px;
  background-color: #efeaea57;
  border-radius: 10px;
  font-weight: 500;
  font-family: var(--third-font);
}

/* Footer */
footer {
  background-color: rgba(255, 255, 255, 0.313);
  padding: 35px 65px;
  margin-top: 120px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  text-align: center;
}

.social-links {
  font-size: 50px;
  margin: 8px;
  color: var(--gold-color);

  background-color: var(--dark-brown-text-color);
  border-radius: 10px;
  transition: all 500ms ease-in-out;
}
.social-links:hover {
  background-color: var(--gold-color);
  color: var(--dark-brown-text-color);
}

.email {
  display: inline-block;
  position: relative;
  color: var(--dark-brown-text-color);
  margin-top: 13px;
}
.email:hover {
  color: #47280d;
}
.email:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3e331c;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.email:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* media queries */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
