:root {
  --header-height: 48px;
  --font-semi: 600;

  --main-color: #54494b;
  --second-color: #14110f;

  --body-font: "Poppins", sans-serif;

  --big-font-size: 38px;
  --h2-font-size: 20px;
  --normal-font-size: 15px;
  --smaller-font-size: 12px;

  --mb-16: 16px;
  --mb-32: 32px;
  --mb-40: 40px;
  --mb-48: 48px;

  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Css Classes */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--main-color);
  margin-top: var(--mb-32);
  margin-bottom: var(--mb-48);
  text-align: center;
}


.section-title::after{position: absolute;
content: '';
width: 64px;
height: 2.88px;
left: 0;
right: 0;
margin: auto;
top:32px;
background-color: var(--main-color);}

.section{padding-top:48px;
padding-bottom: 32px;}



@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 56px;
    --h2-font-size: 32px;
    --normal-font-size: 16px;
    --smaller-font-size: 14px;
  }
}
